<h3>Product details</h3>
<p class="product-details--name left">{{ product.model.selectedProduct.name | capitalizeFirst }}</p>
<p class="product-details--price right">${{ product.model.selectedProduct.price | number: 1 }}</p>
<div class="clearfix"></div>

<div class="align-center">
	<img ng-src="{{product.model.selectedProduct.thumb}}" />
</div>

<p class="left">In stock: <strong>{{ product.model.selectedProduct.stock }}</strong></p>
<p class="right">In cart: <strong>{{ product.model.selectedProduct.inCart || 0 }}</strong></p>
<div class="clearfix"></div>

<p class="product-details--description">{{ product.model.selectedProduct.description | capitalizeFirst }}</p>

<button ng-click="product.addToCart( product.model.selectedProduct )" ng-class="{ 'disabled' : product.model.selectedProduct.stock == 0 }">Add to cart</button>
<button ng-click="product.close()">Close</button>